/* @VARIABLES */
/* ********** */

// TIPOGRAFIA
$fontSize: 16px;
$fontFamily: "", sans-serif;
$fontFamily-bold: "", sans-serif;

// COLORES
$azul:#D0EEFF;



body{
    background-color: $azul;
   }


// TAMAÑOS


